services:
  db:
    image: postgres:18-alpine
    environment:
      - POSTGRES_USER=username
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=tasker_api
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data

  redis:
    image: redis:8.4.0-alpine
    restart: always
    ports:
      - "6379:6379"
    command: >
      redis-server
      --requirepass password
      --save 60 1
      --loglevel warning
    volumes:
      - redis_data:/data

volumes:
  db:
  redis_data:
    driver: local